.node text {
    pointer-events: none;
    font: 12px sans-serif;
}

.line {
    color:black
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(34, 42, 66, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

html, body {
    height: 100%;
    margin-left: 10%;
}

body {
    vertical-align: middle;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #e0e7f7;
    text-align: left;
    background-color: #1e1e2f;
}



.file_input_area_section{
    float:left;
    padding:1em;
    padding-top: 0.1em;
    margin-left: 1em;
    background-color: #353558;
    border-radius: 20px;
    border-style: solid;
    border-width: 0.1em;
    box-shadow: 1px 1px;
}

.link_label{
    font-size: 1.3em;
    margin-right: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a0abc5;
    opacity: 1; /* Firefox */
  }

.link_text_input{
    padding: 10px 15px;
    margin-top: 1px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1.3em;  
    border-radius: 10px;
    background-color: #7878db;
}

.link_submit_button{
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1.3em;  
    border-radius: 10px;
    background-color: #7878db;
}

.submitButton_later{
    float:right;
    padding: 10px 15px;
    margin-top: 1.1em;
    margin-right: 1.5em;
    box-sizing: border-box;
    font-size: 1.3em;  
    border-radius: 10px;
    background-color: #7878db;

}
.audioplayer{
    margin-left: 10em;
    padding-left: 25em;
    padding-top: 0.3em;
}

.graph_area_divs, .Key-Insights, .AskQuestions{
    padding:1em;
    padding-top: 1.5em;
    clear: both
}

.Key-Insights-2{
    float:left;
    padding:1em;
    /* padding-top: 1.5em; */
    margin-top: -2em;
}

.graph_section, .summary, .Key-Insights_div_box, .transcipt_div_box, .transcipt{
    float:left;
    padding:1em;
    margin-right: 0.8em;
    padding-top: 0.1em;
    background-color: #353558;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border-width: 0.1em;
    box-shadow: 1px 1px;
    border-style: solid;
}

.graph_section, .summary{
    margin-right: 2em;
}

.Key-Insights_div_box-2{
    float:left;
    padding:1em;
    margin-right: 0.8em;
    padding-top: 0.1em;
    background-color: #353558;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border-width: 0.1em;
    box-shadow: 1px 1px;
    border-style: solid;
}


.Key-Insights_div_box, .transcipt_div_box{
    width: 1000px;
    height: 200px;
}
.Key-Insights_div_box-2{
    width: 400px;
    height:200px;
}

.title{
    padding:0.3em;
    margin-left:0.8em;
}

.summary_title, .Key-Insights-title, .Key-Insights-title-2{
    margin-top: 10px;
    font-size: large;
    text-align: center;
}
.graph_title{
    margin-top: 10px;
    padding-top: 15px;
    font-size: large;
    text-align: center;
}

.summary_text{
    margin-top: -10px;
    margin-left: 15px;
}
.Key-Insights-text, .ask-questions{
    margin-top: -10px;
    margin-left: 15px;
}

.graph_section_internal{
 background-color: #7878db;
    margin-top: 20px;
    margin-left: 15px;
    width: 370px;
    height: 370px;
    border-radius: 20px;
    box-shadow: 1px 1px;
    border-style:auto;
}

.graph{
    margin-top: -6em;
    margin-left:-3em;
}

.summary_div_box{
    overflow-y:auto;
    background-color: #7878db;
    margin-top: 20px;
    margin-left: 15px;
    width: 370px;
    height: 370px;
    border-radius: 20px;
    box-shadow: 1px 1px;
    border-style:auto;
}
.Key-Insights-inner-div{
    width: 975px;
    height: 185px;
    overflow-y:auto;
    background-color: #7878db;
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px;
    border-style:auto;
}

.summary_div_box::-webkit-scrollbar {
    display: none;
  }

.Key-Insights-inner-div::-webkit-scrollbar{
    display: none;
}

.sendAxiosRequestValue::-webkit-scrollbar{
    display: none;
}


.sendAxiosRequestValue{
    width: 800px;
    height: 100px;
    overflow-y:auto;
    background-color: #c4c4f8;
    margin-top: -10px;
    margin-left: 5px;
    border-radius: 10px;
    white-space: normal;
    text-align: left;
    -moz-text-align-last: left; /* Firefox 12+ */
    text-align-last: left;
    padding-left:1em;
    font-family: sans-serif;

}

.sendAxiosTranscriptText{
    width: 920px;
    height: 50px;
}