<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="//d3js.org/d3.v3.min.js"></script>


<style>
    .node text {
        pointer-events: none;
        font: 10px sans-serif;
    }
</style>


<body>
    <h1>Welcome to the Audio to Topic Model</h1>

    <h2>Give a youtube link which you want visualized</h2>
    <form method="post">
        <label for="link">Link:</label>
        <input type="text" name="link" placeholder="Give a link" value="{{request.form['link']}}" />
        <br>
        <br>
        <button type="submit"> Submit </button>
    </form>
    {% if link is defined %}
    <h5>Link: {{ link }}</h5>
    {% endif %}
    {% if text is defined %}
    <h5>Text: {{ text }}</h5>
    {% endif %}
    {% if auto_highlights is defined %}
    {% for autohighlight in auto_highlights %}
    <p>Count: {{ autohighlight["count"] }}, Rank: {{ autohighlight["rank"] }}, Text: {{ autohighlight["text"] }}</p>
    {% endfor %}
    {% endif %}

    {%if graph_data is defined%}

    <div id="my_graph"></div>
    <script>

        var data = JSON.parse('{{ graph_data | tojson | safe}}');

        var width = 960,
            height = 500

        var svg = d3.select("#my_graph").append("svg")
            .attr("width", width)
            .attr("height", height);

        var force = d3.layout.force()
            .gravity(0.05)
            .distance(100)
            .charge(-100)
            .size([width, height]);

        function graph(json) {
            force
                .nodes(json.nodes)
                .links(json.links)
                .start();

            var link = svg.selectAll(".link")
                .data(json.links)
                .enter().append("line")
                .attr("class", "link")
                .attr('stroke', 'blue')
                .attr('stroke-width', function (d) { return d.value; });;

            var node = svg.selectAll(".node")
                .data(json.nodes)
                .enter().append("g")
                .attr("class", "node")
                .call(force.drag);


            node.append("circle")
                .attr("r", function (d) { return 10 * Math.log(d.count + 1) })
                .attr("fill", function (d) {
                    if ("sentiment" in d) {
                        if (d.sentiment === "POSITIVE") return "#00" + Math.round(255 * d.confidence).toString(16) + "00";
                        if (d.sentiment === "NEUTRAL") return "grey";
                        if (d.sentiment === "NEGATIVE") return "#" + Math.round(255 * d.confidence).toString(16) + "0000";
                    } else return "grey";
                });


            node.append("text")
                .attr("dx", 12)
                .attr("dy", ".35em")
                .text(function (d) { return d.id });

            force.on("tick", function () {
                link.attr("x1", function (d) { return d.source.x; })
                    .attr("y1", function (d) { return d.source.y; })
                    .attr("x2", function (d) { return d.target.x; })
                    .attr("y2", function (d) { return d.target.y; });

                node.attr("transform", function (d) { return "translate(" + d.x + "," + d.y + ")"; });
            });
        }
        graph(data)
    </script>

    {%endif%}
</body>

</html>